.featured-product .product__media-list {
  width: 100%;
  margin: 0;
  padding-bottom: 0;
}

.featured-product .product-media-container {
  margin-bottom: var(--media-shadow-vertical-offset);
  max-width: 100%;
}

.featured-product .product__media-item {
  padding-left: 0;
}

.featured-product .placeholder-svg {
  display: block;
  height: auto;
  width: 100%;
}

.background-secondary .featured-product {
  padding: 2.5rem;
}

.featured-product .share-button:nth-last-child(2) {
  display: inline-flex;
}

.share-button+.product__view-details {
  display: inline-flex;
  float: right;
  align-items: center;
  min-height: 4.4rem;
}

.share-button+.product__view-details::after {
  content: '';
  clear: both;
  display: table;
}

@media screen and (min-width: 750px) {
  .featured-product .product__media-item {
    padding-bottom: 0;
  }

  .background-secondary .featured-product {
    padding: 5rem;
  }

  .product--right .product__media-wrapper {
    order: 2;
  }
}

@media screen and (min-width: 990px) {
  .background-secondary .featured-product:not(.product--no-media)>.product__info-wrapper {
    padding: 0 0 0 5rem;
  }

  .background-secondary .featured-product:not(.product--no-media).product--right>.product__info-wrapper {
    padding: 0 5rem 0 0;
  }

  .featured-product:not(.product--no-media)>.product__info-wrapper {
    padding: 0 7rem;
  }

  .background-secondary .featured-product {
    padding: 6rem 7rem;
    position: relative;
    z-index: 1;
  }
}

/* Fix for stacked thumbnails */
.featured-product media-gallery[data-desktop-layout='thumbnail'] .product__media-list .product__media-item {
  display: none !important;
  width: 100%;
}

.featured-product media-gallery[data-desktop-layout='thumbnail'] .product__media-list .product__media-item.is-active {
  display: block !important;
}

.featured-product media-gallery[data-desktop-layout='thumbnail'] .product__media-list {
  display: block !important;
}

/* Featured product custom styles (moved from index.json custom_css) */
.featured-product .product-title,
.featured-product .product__title,
.featured-product h1.product-title,
.featured-product .product-info__title,
.featured-product .product__title h1 {
  font-weight: 600 !important;
  text-align: center !important;
}

.featured-product .product__price,
.featured-product .product-price,
.featured-product .price,
.featured-product .product__info-container .price,
.featured-product .product-form__price {
  text-align: center !important;
  justify-content: center !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.featured-product .price__container {
  text-align: center !important;
  justify-content: center !important;
}

@media screen and (max-width: 749px) {
  .featured-product .product__media-list {
    margin-bottom: 0.5rem !important;
  }

  /* Pull thumbnails up closer to the main product image */
  .featured-product .thumbnail-slider,
  .featured-product slider-component.thumbnail-slider {
    margin-top: -2.5rem !important;
  }

  /* Larger product title on mobile */
  .featured-product .product__title,
  .featured-product .product__title h2,
  .featured-product h2.product__title {
    font-size: 2.4rem !important;
    line-height: 1.2 !important;
  }
}

/* Add space after collapsible tabs (before shipping timeline) */
.featured-product .product__accordion .accordion,
.featured-product .accordion {
  margin-bottom: 1.5rem;
}